.wrapper {
    background: gray;
    position: relative;
    border-top: 3px solid black;
    min-height: 150px;
}
.footer {

	&__content {
            display: flex;
            margin-top: 30px;
            justify-content: space-between;
	}

	&__links {
            display: flex;
	}

	&__link {
            display: flex;
            margin-right: 40px;
	}

	&__copyright {
            font-size: 33px;
            text-align: center;
            align-self: center;
        @media (max-width:900px) {
            font-size: 20px;
        }
        @media (max-width:600px) {
            font-size: 16px;
        }
	}
}
.link {
    display: flex;
    align-items: center;
    color: black;
      &__icon {
          width: 40%;
          svg{
              width: 100%;
              height: auto;
          }
          @media (max-width: 500px) {
              display: none;
          }
      }

      &__brief {
        font-size: 20px;
        @media (max-width:900px) {
            font-size: 16px;
        }
        @media (max-width:600px) {
            font-size: 14px;
        }
      }

    &:hover{
        .link__brief{
            text-decoration: underline;
        }
    }
}